*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: rgb(155, 204, 155);
}
.search-logo{
margin-left: 7px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;  
    height: 10vh;
    background-color: rgb(155, 204, 155);
}
.search-logo img{
    height: 3rem;
    border-radius: 15px;
}
.search-logo button{
   border-radius: 7px;
    height: 25px;
    font-size: 15px;
    padding: 3px;
}
.menu ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 15px;
    margin-left: 250px;
    color: white;   
}
.menu ul li a{
    text-decoration: none;
    color: rgb(138, 64, 64);
}
input{
    width: 100%;
    height: 4.5vh;
    border-radius: 7px;
    border: none;
    outline: none;
    padding: 0 10px;
}

.logIn,.signUp{

    height: 4vh;
    border-radius: 7px;
    border: none;
    outline: none;
    padding: 0 10px
}