<!-- {%load static%} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .main_section{
            /* display: flex; */
            /* justify-content: center; */
            /* align-items: center; */
            height: 100vh;
            width: 100vw;
           /* background-color: blue;*/
        }
      
        /* p{
            font-size: 5px;
        } */
    </style>
</head>
<body>
    <main class="main_section bg-red-600">
        <div class="card">
            <h1 class="text-indigo-400 text-[40px]"  >Card name</h1>
            <p>Here is  discription of card.</p>
        </div>
    </main>
</body>
</html>